.filedrop {
  display: flex;
  align-items: center;
}

.filedrop-btn {
  position: relative;
  cursor: pointer;
}

.filedrop-btn input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
